# Ignore dataset folder
data/

# Ignore large files
*.csv
*.xlsx
*.json

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env

# Virtual environment
venv/